.center{
    display: flex;
    flex-direction: column;
    margin: auto;
    color:brown;
    background-color: beige;
    max-width: 76%;
}
body{
    background-color: rgba(70, 0, 0, 0.925);
    font-size: 24px;
}
input{
    width: 17px;
    height: 17px;
}
.submitbutton{
    width: 300px;
    height: 30px;
    margin-bottom: 35px;
    background-color: brown;
    color: beige;
    font-size: 18px;
}
.submitbutton:hover{
    background-color: rgb(244, 92, 92);
    color:rgb(98, 4, 4);
}
.form{
    margin: auto;
}
.gradebox{
    width: 300px;
    height: 25px;
    font-size: 20px;
    color: brown;
    border: brown solid 3px;
}
.innercenter{
    margin: auto;
    max-width: 75%;
}