.center{
    display: flex;
    align-content: right;
    align-items: center;
    margin: auto;
    color:brown;
    background-color: beige;
    max-width: 50%;
    padding: 40px;
}
body{
    background-color: rgba(70, 0, 0, 0.925);
    font-size: 24px;
}