body{
    background-image: url('images/beach.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.top{
    background-color:#ff4447d1;
    margin:1px;
    width: auto;
    height: 76px;
    color:beige;
    font-size: 16px;
    text-align: center;
}
.center{
    margin-top: 20px;
    align-self: flex-start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    justify-content: space-around;
    border: none;
;
}
.itemsbox{
    display: flex;
    flex: wrap;
    align-self:flex-start;
    max-width: 1250px;
    height: 800px;
    background-color: #ffffff9f;
}
.item{
    background-color: #5ea8a7da;
    max-width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    background-color: #ffffff93;
    width: 400px;/*temporaryly000000000000000000000000000*/
    display: none;
    flex-direction: column;
    align-items: center;
}
.log-in{
    background-color: #398281dd;
    max-width: 400px;
    display: flex; /*temporaryly000000000000000000000000000*/
    flex-direction: column;
    align-items: center;
    color: rgb(252, 244, 216);
    font-size: 30px;
}
.cart-label{
    text-align: center;
    background-color: rgb(252, 244, 216);
    color: #398281da;
    height: 45px;
    font-size: 40px;
    width: 400px;
}
.item-label{
    text-align: center;
    background-color: rgb(252, 244, 216);
    color: #398281da;
    height: 45px;
    font-size: 40px;
}
.brand{
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 3px #398281da;
}
.itlist{
    display:flex;
    border-radius: 4px;
    max-width: 230px;
    border: 1px solid #ffffff;
    margin-top: 14px;
    margin-left: 6px;
    margin-right: 6px;
}
.semi-center{
    border:none;
}
button{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    transition-duration: 0.4s;
    background-color: #398281;
    color: #ffffffe8;
    border-color: #FFFFFF;
}
button:hover{
    background-color: #ffffffec;
    color:  #398281da;
}
label{
    color:#FFFFFF;
    font-size: 24px;
}
.price{
    color: white;
    margin: 10px;
    font-size: 20px;
}
input{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(249, 244, 228);
    color:#398281
}
.logininfo{
    height: 20px;
    width: 60%;
}
.loginbutton{
    margin-top: 16px;
    margin-bottom: 30px;
    max-width: 260px;
}
.warning{
   border: none;
   font-size: 20px; 
   height:0;
   opacity:0;
   transition: opacity 0.3s ease-out;
   display:block;
   overflow:hidden;
   height: 300px;
   cursor: default;
}
.addeditem{
    margin-top:8px;
    margin-left:8px;
    margin-right: 8px;
    height: 120px;
    max-width: 380px;
    min-width: 370px;
    display: flex;
    background-color: #5ea8a7da;
}
input[type=submit],
input[type=reset]{
    padding-left: 20%;
    margin-top: 10px;
    display: flex;
    justify-self: center;
    width: 65%;
    text-align: center;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    transition-duration: 0.4s;
    background-color: #398281;
    color: #ffffffe8;
    border-color: #FFFFFF;
}

.check-out-button:hover{
    background-color: #ffffffec;
    color:  #398281da;
}
.img-incart{
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 17px;
    border: 1px solid white;
    border-radius: 3px;
    justify-content: space-around;
}
.item-incart-labels{
    margin-top: 6px;
}
.quantity{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    border: none;
}
.quanbox{
    width: 225px;
    height: 24px;
    font-size: 24px;
    background-color: rgb(252, 244, 216);
    text-align: center;
}
.rm{
    font-size: 12px;
    height: 20px;
    max-width: 120px;
    background-color: #086462da;
    color: white;
}
.hidden{
    display: none;
}
iframe{
    position: absolute;
    left:20px;
    right: 60px;
    top:100px;
    width: 97.3%;
    height: 100%;
    border: 2px solid #ffffff;
    display: none;
    background-color: #398281;
}
.shipping{
    margin: 10px;
    background-color: #5ea8a7da;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}
.receive-center{
    background-color: #ffffffbb;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
    color:#006b6a ;
    border-radius: 5px;
}
th{
    background-color: #116665cf;
    color: beige;
    font-size: 21px;
    font-family:Cambria;
}
td {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #075755f0;
}
tr:hover{
    color:rgb(250, 250, 229);
    background-color: #42a09fc6;
    transition: 0.1s linear;
}
.bought-list{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.totaltable{
    width: 290px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 500px;
}